@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @media (min-width: 1200px) {
        .container {
            max-width: 64rem;
            /* 5xl = 64rem */
        }
    }
}

::selection {
    background-color: #a78bfa4d;
    /* accent/30 */
    color: #f4f4f5;
    /* primary-text */
}